In [2]:
import numpy as np
import pandas as pd

In [6]:
pd.read_csv('Shenzhen_Clean.csv')

,Year,Month,Day,Month #,Day #,Week#,Kitchen waste (t),Fruit and vegetable waste (t),Bread Paste (t),Waste oil (t),...,#3 Contact Oxidation Cell Dissolved Oxygen (mg/L),Daily electricity consumption (kWh)4,Circulating liquid PH value,Maximum tower temperature (℃),Minimum tower temperature (℃),Air intake H2S content (PPM),Exhaust H2S content (PPM),Daily water consumption (m³)3,TotalElecCons,TotalWaterCons
0,2015.0,December,1.0,1.0,1.0,1.0,92.03,0.00,7.95,13.54,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1696.203577,11.76
1,2015.0,December,2.0,1.0,2.0,1.0,78.43,0.00,13.30,16.10,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1761.454597,9.92
2,2015.0,December,3.0,1.0,3.0,1.0,81.84,0.00,8.35,6.60,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1812.982114,6.91
3,2015.0,December,4.0,1.0,4.0,1.0,81.05,0.00,9.10,17.48,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1661.635705,7.63
4,2015.0,December,5.0,1.0,5.0,1.0,36.86,0.00,9.40,12.47,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1776.042619,7.90
5,2015.0,December,6.0,1.0,6.0,1.0,21.58,0.00,16.20,11.85,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1803.684918,0.00
6,2015.0,December,7.0,1.0,7.0,1.0,89.98,0.00,9.10,12.14,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1644.025789,8.72
7,2015.0,December,8.0,1.0,8.0,2.0,80.46,9.80,16.90,13.92,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1642.099996,9.85
8,2015.0,December,9.0,1.0,9.0,2.0,77.20,10.40,5.60,10.69,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1815.511611,8.95
9,2015.0,December,10.0,1.0,10.0,2.0,78.37,9.34,8.30,9.79,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1843.732297,9.61
10,2015.0,December,11.0,1.0,11.0,2.0,74.03,8.95,7.99,10.08,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1710.476699,11.93
11,2015.0,December,12.0,1.0,12.0,2.0,38.38,6.09,17.00,15.62,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1744.194320,6.54
12,2015.0,December,13.0,1.0,13.0,2.0,16.51,0.00,8.00,13.94,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1691.519397,0.00
13,2015.0,December,14.0,1.0,14.0,2.0,71.68,2.78,17.56,15.41,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1744.305075,5.40
14,2015.0,December,15.0,1.0,15.0,3.0,79.16,10.56,17.32,0.00,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,1839.287750,10.01
15,2015.0,December,16.0,1.0,16.0,3.0,79.25,6.67,15.28,2.16,...,0.00,640.0,0.00,NaN,NaN,NaN,NaN,NaN,2410.000000,10.04
16,2015.0,December,17.0,1.0,17.0,3.0,76.88,7.68,8.30,4.75,...,0.00,880.0,0.00,NaN,NaN,NaN,NaN,NaN,3000.000000,12.59
17,2015.0,December,18.0,1.0,18.0,3.0,78.40,6.70,8.11,22.47,...,0.00,880.0,0.00,NaN,NaN,NaN,NaN,NaN,3800.000000,12.59
18,2015.0,December,19.0,1.0,19.0,3.0,52.88,9.10,0.00,15.24,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,4049.000000,8.61
19,2015.0,December,20.0,1.0,20.0,3.0,19.79,7.94,0.00,2.60,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,3370.000000,0.00
20,2015.0,December,21.0,1.0,21.0,3.0,77.68,7.64,15.19,8.60,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,2835.000000,15.09
21,2015.0,December,22.0,1.0,22.0,4.0,76.07,7.61,15.09,13.57,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,2709.000000,12.05
22,2015.0,December,23.0,1.0,23.0,4.0,84.22,7.60,8.78,16.79,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,2392.000000,13.37
23,2015.0,December,24.0,1.0,24.0,4.0,90.41,7.48,15.06,9.58,...,0.00,1120.0,0.00,NaN,NaN,NaN,NaN,NaN,3829.000000,15.91
24,2015.0,December,25.0,1.0,25.0,4.0,74.94,8.34,15.25,11.26,...,0.00,1120.0,0.00,NaN,NaN,NaN,NaN,NaN,3862.000000,6.88
25,2015.0,December,26.0,1.0,26.0,4.0,59.57,7.88,16.53,12.16,...,0.00,1200.0,0.00,NaN,NaN,NaN,NaN,NaN,3630.000000,12.29
26,2015.0,December,27.0,1.0,27.0,4.0,14.31,0.00,15.56,12.82,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,3480.000000,0.00
27,2015.0,December,28.0,1.0,28.0,4.0,84.40,7.68,8.52,0.00,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,3751.000000,11.25
28,2015.0,December,29.0,1.0,29.0,5.0,86.34,6.83,8.38,0.00,...,0.00,1040.0,0.00,NaN,NaN,NaN,NaN,NaN,3749.000000,10.88
29,2015.0,December,30.0,1.0,30.0,5.0,82.37,5.19,13.96,0.00,...,0.00,960.0,0.00,NaN,NaN,NaN,NaN,NaN,3557.000000,10.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,2017.0,February,6.0,15.0,434.0,62.0,125.22,34.19,0.00,3.13,...,0.67,640.0,1.73,34.8,29.1,1500.0,0.0,0.0,4500.000000,22.00
434,2017.0,February,7.0,15.0,435.0,62.0,132.91,18.27,0.00,10.56,...,0.60,640.0,1.73,32.1,29.1,1500.0,0.0,0.0,4180.000000,25.00
435,2017.0,February,8.0,15.0,436.0,62.0,139.21,25.69,0.00,10.57,...,0.50,560.0,1.73,31.2,29.2,1500.0,0.0,0.0,3940.000000,39.00
436,2017.0,February,9.0,15.0,437.0,63.0,150.03,25.45,0.00,6.49,...,0.46,640.0,1.73,30.7,29.1,1500.0,0.0,0.0,4420.000000,34.00
437,2017.0,February,10.0,15.0,438.0,63.0,144.28,49.36,0.00,10.04,...,0.68,640.0,1.71,30.3,28.6,1500.0,0.0,0.0,5090.000000,21.00
438,2017.0,February,11.0,15.0,439.0,63.0,98.96,32.86,0.00,9.79,...,0.38,560.0,1.71,31.2,28.6,1500.0,0.0,1.0,4000.000000,23.00
439,2017.0,February,12.0,15.0,440.0,63.0,86.92,32.11,0.00,11.71,...,0.37,480.0,1.71,33.2,29.1,1500.0,0.0,0.0,2510.000000,7.00
440,2017.0,February,13.0,15.0,441.0,63.0,158.93,33.02,0.00,9.10,...,0.36,560.0,2.05,31.6,29.2,1500.0,0.0,13.0,5060.000000,26.00
441,2017.0,February,14.0,15.0,442.0,63.0,165.30,42.28,0.00,12.79,...,0.32,560.0,1.97,35.2,29.2,1500.0,0.0,0.0,4820.000000,12.00
442,2017.0,February,15.0,15.0,443.0,63.0,165.17,49.64,0.00,9.36,...,0.39,640.0,1.97,35.9,30.4,1500.0,0.0,2.0,4390.000000,28.00
443,2017.0,February,16.0,15.0,444.0,64.0,158.85,31.19,0.00,12.17,...,0.36,480.0,1.97,35.3,30.1,1500.0,0.0,1.0,3860.000000,18.00
444,2017.0,February,17.0,15.0,445.0,64.0,187.27,34.05,0.00,13.09,...,0.45,480.0,1.94,35.6,29.8,1500.0,0.0,0.0,4190.000000,5.00
445,2017.0,February,18.0,15.0,446.0,64.0,119.29,40.91,0.00,14.76,...,0.48,560.0,1.93,35.5,29.2,1900.0,0.0,1.0,4810.000000,12.00
446,2017.0,February,19.0,15.0,447.0,64.0,104.52,42.57,0.00,18.40,...,0.35,560.0,1.93,35.6,29.3,1900.0,0.0,1.0,3310.000000,5.00
447,2017.0,February,20.0,15.0,448.0,64.0,187.43,50.37,0.00,13.77,...,0.43,1040.0,1.94,36.4,29.6,1900.0,0.0,0.0,5900.000000,17.00
448,2017.0,February,21.0,15.0,449.0,64.0,198.81,40.39,0.00,13.15,...,0.41,640.0,1.91,33.5,29.4,1900.0,0.0,0.0,4760.000000,15.00
449,2017.0,February,22.0,15.0,450.0,64.0,182.13,42.10,0.00,13.44,...,0.35,640.0,1.91,33.4,29.7,1500.0,0.0,0.0,5100.000000,23.00
450,2017.0,February,23.0,15.0,451.0,65.0,169.36,53.24,0.00,12.33,...,0.36,560.0,1.89,31.9,29.3,1500.0,0.0,0.0,5240.000000,17.00
451,2017.0,February,24.0,15.0,452.0,65.0,160.21,42.68,0.00,12.69,...,0.42,560.0,1.86,30.3,29.3,1500.0,0.0,1.0,4940.000000,14.00
452,2017.0,February,25.0,15.0,453.0,65.0,120.81,41.32,0.00,13.73,...,0.42,640.0,1.84,30.3,29.2,1500.0,0.0,0.0,4730.000000,10.00
453,2017.0,February,26.0,15.0,454.0,65.0,94.81,43.85,0.00,13.00,...,0.61,560.0,1.82,32.3,29.1,1500.0,0.0,0.0,4330.000000,28.00
454,2017.0,February,27.0,15.0,455.0,65.0,157.44,49.06,0.00,10.71,...,0.53,560.0,1.82,33.5,29.4,1000.0,18.0,0.0,5560.000000,5.00
455,2017.0,February,28.0,15.0,456.0,65.0,202.08,43.67,0.00,11.46,...,0.67,640.0,1.83,34.0,28.6,1000.0,31.0,1.0,5370.000000,23.00
456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN