In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
xl = pd.ExcelFile("/Users/anna/Desktop/OneDrive/2018 Spring/Data-x/data x project/HainanDataRaw&Clean/HainanData_kindofClean.xlsx")

In [19]:
df = xl.parse("Clean")

In [26]:
df.shape

(1035, 30)

In [27]:
nan_rows = df[df['day #2'].isnull()]

In [29]:
nan_rows

,Year,Month,Day,Month #,Day #,Raw Biogas Produced (m3),BioCNG Produced ï¼ˆNm3),BioCNG Sold (m3),Liquid Fertilizer Produced (t),Liquid fertilizer sold (t),...,Other input (t),Total input (t),day #2,50% NaOH/kg,FeCl2/kg,PAM/kg,Defoamer/kg,Water/m3,Total electricity cons (kWh),Diesel cons/L
0,2014,May,1,1,1,0.0,2024,3658.00,0.00,0.00,...,26.44,48.26,NaN,0.00,0,0.0,0.0,0.0,3705.0,0
1,2014,May,2,1,2,0.0,2909,4348.00,0.00,0.00,...,28.92,43.92,NaN,0.00,0,0.0,0.0,0.0,3914.0,130
2,2014,May,3,1,3,0.0,3020,0.00,0.00,0.00,...,26.90,48.56,NaN,0.00,0,0.0,0.0,0.0,4115.0,0
3,2014,May,4,1,4,0.0,3042,0.00,0.00,0.00,...,0.00,27.50,NaN,0.00,0,0.0,0.0,0.0,3286.0,20
4,2014,May,5,1,5,0.0,2779,7584.00,0.00,0.00,...,0.00,18.54,NaN,0.00,0,0.0,0.0,0.0,3612.0,0
5,2014,May,6,1,6,0.0,2686,2698.00,0.00,0.00,...,0.00,15.98,NaN,0.00,0,0.0,0.0,0.0,3344.0,0
6,2014,May,7,1,7,0.0,2112,0.00,0.00,0.00,...,0.00,12.04,NaN,0.00,0,0.0,0.0,0.0,3732.0,280
7,2014,May,8,1,8,0.0,1529,0.00,0.00,0.00,...,0.00,24.36,NaN,0.00,0,0.0,0.0,0.0,4135.0,0
8,2014,May,9,1,9,0.0,2085,0.00,0.00,0.00,...,0.00,21.30,NaN,0.00,0,0.0,0.0,0.0,3858.0,40
9,2014,May,10,1,10,0.0,1902,3925.00,0.00,0.00,...,0.00,22.00,NaN,0.00,0,0.0,0.0,0.0,3332.0,60
10,2014,May,11,1,11,0.0,1971,3748.00,0.00,0.00,...,0.00,8.35,NaN,0.00,0,0.0,0.0,0.0,3781.0,0
11,2014,May,12,1,12,0.0,2404,0.00,0.00,0.00,...,0.00,12.52,NaN,0.00,0,0.0,0.0,0.0,3661.0,0
12,2014,May,13,1,13,0.0,1610,2837.00,0.00,0.00,...,0.00,17.50,NaN,0.00,0,0.0,0.0,0.0,4178.0,0
13,2014,May,14,1,14,0.0,0,0.00,0.00,0.00,...,0.00,26.22,NaN,0.00,0,0.0,0.0,0.0,1371.0,20
14,2014,May,15,1,15,0.0,906,0.00,0.00,0.00,...,0.00,24.22,NaN,0.00,0,0.0,0.0,0.0,2806.0,50
15,2014,May,16,1,16,0.0,2518,4295.00,0.00,0.00,...,0.00,27.02,NaN,0.00,0,0.0,0.0,0.0,4234.0,60
16,2014,May,17,1,17,0.0,1551,0.00,0.00,0.00,...,0.00,25.68,NaN,0.00,0,0.0,0.0,0.0,3516.0,190
17,2014,May,18,1,18,0.0,1724,3830.00,0.00,0.00,...,0.00,26.16,NaN,0.00,0,0.0,0.0,0.0,3815.0,0
18,2014,May,19,1,19,0.0,2160,0.00,0.00,0.00,...,0.00,26.40,NaN,0.00,0,0.0,0.0,0.0,4113.0,0
19,2014,May,20,1,20,0.0,2621,3464.02,0.00,0.00,...,0.00,27.18,NaN,0.00,0,0.0,0.0,0.0,4472.0,100
20,2014,May,21,1,21,0.0,1946,0.00,0.00,0.00,...,0.00,38.58,NaN,0.00,0,0.0,0.0,0.0,4001.0,0
21,2014,May,22,1,22,0.0,2179,3617.00,0.00,0.00,...,0.00,34.16,NaN,0.00,0,0.0,0.0,0.0,4305.0,40
22,2014,May,23,1,23,0.0,2129,0.00,0.00,0.00,...,0.00,37.52,NaN,0.00,0,0.0,0.0,0.0,4357.0,0
23,2014,May,24,1,24,0.0,2108,4344.00,0.00,0.00,...,0.00,35.26,NaN,0.00,0,0.0,0.0,0.0,3603.0,60
24,2014,May,25,1,25,0.0,2429,0.00,0.00,0.00,...,0.00,39.52,NaN,0.00,0,0.0,0.0,0.0,4373.0,0
25,2014,May,26,1,26,0.0,3058,0.00,0.00,0.00,...,0.00,27.62,NaN,0.00,0,0.0,0.0,0.0,4333.0,180
26,2014,May,27,1,27,0.0,2466,3631.00,0.00,0.00,...,0.00,21.28,NaN,0.00,0,0.0,0.0,0.0,4021.0,0
27,2014,May,28,1,28,0.0,2655,0.00,0.00,0.00,...,0.00,19.25,NaN,0.00,0,0.0,0.0,0.0,2767.0,0
28,2014,May,29,1,29,0.0,2953,0.00,0.00,0.00,...,0.00,30.00,NaN,0.00,0,0.0,0.0,0.0,4827.0,40
29,2014,May,30,1,30,0.0,2499,0.00,0.00,0.00,...,0.00,30.00,NaN,0.00,0,0.0,0.0,0.0,4106.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2014,December,2,8,216,0.0,2518,128.24,64.80,64.80,...,0.00,36.12,NaN,1085.00,0,0.0,0.0,0.0,4137.0,50
216,2014,December,3,8,217,0.0,2215,3811.00,0.00,0.00,...,0.00,37.96,NaN,1326.00,0,0.0,0.0,0.0,2891.0,200
217,2014,December,4,8,218,0.0,3201,2653.00,0.00,0.00,...,0.00,43.14,NaN,486.00,0,0.0,0.0,1.0,4999.0,50
218,2014,December,5,8,219,0.0,3142,3996.02,0.00,0.00,...,0.00,50.74,NaN,844.00,0,0.0,0.0,2.0,4589.0,0
219,2014,December,6,8,220,0.0,2516,4258.73,0.00,0.00,...,0.00,16.00,NaN,1446.00,0,0.0,0.0,0.0,3846.0,50
220,2014,December,7,8,221,0.0,3028,141.35,0.00,0.00,...,0.00,59.44,NaN,1205.00,0,0.0,0.0,1.0,4538.0,50
221,2014,December,8,8,222,0.0,2974,4114.76,0.00,0.00,...,0.00,52.14,NaN,723.00,0,0.0,0.0,2.0,4491.0,30
222,2014,December,9,8,223,0.0,2510,4235.69,0.00,0.00,...,0.00,59.68,NaN,724.00,0,0.0,0.0,0.0,4015.0,90
223,2014,December,10,8,224,0.0,2870,104.82,120.10,120.10,...,0.00,34.10,NaN,723.00,0,0.0,0.0,0.0,5758.0,130
224,2014,December,11,8,225,0.0,3370,3892.86,0.00,0.00,...,0.00,76.54,NaN,482.00,0,0.0,0.0,0.0,4600.0,200
225,2014,December,12,8,226,0.0,3471,4593.87,0.00,0.00,...,0.00,47.70,NaN,361.00,0,0.0,0.0,0.0,4727.0,100
226,2014,December,13,8,227,0.0,3901,4303.21,0.00,0.00,...,0.00,63.30,NaN,844.00,0,0.0,0.0,0.0,4972.0,400
227,2014,December,14,8,228,0.0,4235,4365.00,33.30,33.30,...,0.00,77.60,NaN,1205.76,0,0.0,0.0,0.0,5319.0,0
228,2014,December,15,8,229,0.0,3779,4117.91,33.00,33.00,...,0.00,50.28,NaN,0.00,0,0.0,0.0,0.0,4858.0,0
229,2014,December,16,8,230,0.0,3215,4007.00,29.92,29.92,...,0.00,44.54,NaN,602.00,0,0.0,0.0,1.0,3817.0,100
230,2014,December,17,8,231,0.0,3318,4150.00,53.50,53.50,...,0.00,44.30,NaN,241.00,0,0.0,0.0,0.0,3826.0,250
231,2014,December,18,8,232,0.0,3302,4244.00,206.32,206.32,...,0.00,30.58,NaN,482.00,0,0.0,0.0,0.0,4545.0,200
232,2014,December,19,8,233,0.0,3001,4672.00,0.00,0.00,...,0.00,27.30,NaN,361.00,0,0.0,0.0,1.0,4490.0,0
233,2014,December,20,8,234,0.0,3315,0.00,0.00,0.00,...,0.00,44.58,NaN,723.00,0,0.0,0.0,0.0,4724.0,80
234,2014,December,21,8,235,0.0,2395,4170.00,0.00,0.00,...,0.00,31.74,NaN,602.00,0,0.0,0.0,0.0,3651.0,50
235,2014,December,22,8,236,0.0,3545,4414.00,0.00,0.00,...,0.00,52.00,NaN,361.00,0,0.0,0.0,0.0,5064.0,20
236,2014,December,23,8,237,0.0,2291,4249.00,142.94,142.94,...,0.00,45.50,NaN,240.00,0,0.0,0.0,0.0,4296.0,20
237,2014,December,24,8,238,0.0,4219,4117.00,41.00,41.00,...,0.00,42.20,NaN,723.00,0,0.0,0.0,0.0,5191.0,0
238,2014,December,25,8,239,0.0,3618,0.00,123.96,123.96,...,0.00,48.82,NaN,602.00,0,0.0,0.0,1.0,5074.0,0
239,2014,December,26,8,240,0.0,3798,4162.00,31.52,31.52,...,0.00,45.78,NaN,482.00,0,0.0,0.0,0.0,5414.0,80
240,2014,December,27,8,241,0.0,4933,3921.00,48.40,48.40,...,0.00,68.50,NaN,0.00,0,0.0,0.0,0.0,6063.0,240
241,2014,December,28,8,242,0.0,5582,7414.00,0.00,0.00,...,0.00,56.70,NaN,0.00,0,0.0,0.0,0.0,6373.0,0
242,2014,December,29,8,243,0.0,4700,4072.00,0.00,0.00,...,0.00,47.58,NaN,0.00,0,0.0,0.0,0.0,5459.0,0
243,2014,December,30,8,244,0.0,4740,4102.00,0.00,0.00,...,0.00,50.12,NaN,0.00,0,0.0,0.0,0.0,5667.0,0
244,2014,December,31,8,245,0.0,4581,0.00,81.78,81.78,...,0.00,65.14,NaN,0.00,0,0.0,0.0,1.0,5897.0,0